
html,body{ 
	width:100%;
	height:100%;
	background:#ffff;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font-family: 'Fira Sans', sans-serif;
  /*font:normal 75% Arial, Helvetica, sans-serif;*/
}
hr{
  background: #3700B3;
}

canvas{
  display:block;
  vertical-align:bottom;
}
.sidebar{
  background:#ffff;
  opacity:0.8;
  padding:2em;
  position: absolute;
  top:70px;
  left:10px;
}
.right{
  padding-left: 0px;
  position: absolute;
  top:55px;
  right: 3px;
  left:430px;
}
.right-game{
  
  padding-top:2em;
  padding-left: 0px;
  position: absolute;
  top:40px;
  right: 3px;
  left:430px;
}
.middle{
  left:35px;
}
.last{
  padding-top:2em;
  padding-left: 10px;
  position: absolute;
  top:90px;
  right: 3px;
  left:520px;
}
.center{
  padding-top:2em;
  padding-left: 10px;
  position: absolute;
  top:34px;
  right: 3px;
  left:400px;
}

/* ---- particles.js container #b61924;---- 3e64ff*/

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #3700B3;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/*
 a:link{
   text-decoration: none;
   color:red;
   
 
}
a:hover {
   font-size: 1.4em!important;
}
*/
#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #5066D8;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #3700B3;
  display: inline-block;
}
.center-form{
  margin-left: 100px!important;
}
.progress {
  margin: 2px;
  width: 750px;
}
#badge{
  margin-bottom: 10pxpx;
  
}
.replay{
  background-color: #d48f56!important;
}
#badge>img{
  width:135px;
  height: 135px;
}

  h5{
    color:#b61924; ;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
  }
  

  .game{
    margin-top: 50px;
    width: 600px;
    height: 100px;
  }
 td>.b_game{
    font-size: 20px;
    border-radius: 7px;
    text-align: center;
    font-weight: bold;
    padding: 0px;
    margin: 2px;
    height: 30px;
    width:30px;
    line-height: 30px;
    
  }
  .b_game:focus{
    color:white;
    background-color: #10140E;
    outline: none;
  }
  .txt{
    color:white;
    padding: 4px;
    margin: 10px 30px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
  /*
  #vertical{
    border-left: 1px solid whitesmoke;
    height: 0px;
    
  }*/
 
  @media screen and (min-width : 768px) and (max-width : 1024px) {
    .right{
     top:10px!important;
     margin-left:-300px!important;
     position: relative;
    }
   .sidebar{
     display:none;
   }
   .right-game{
    padding-top:2em;
    padding-left: 0px;
    position: absolute;
    top:30px;
    right: 3px;
    left:40px;
  }
  .last{
    margin-top: 20px!important;
  }
  
}

@media screen and (min-width : 320px) and (max-width : 480px) {


  .right{ 
      top:5px!important;
      margin-left:-417px!important;
      position: relative;
     }
     .bar{
       display: none;
     }
    .sidebar{
      display:none;
    }
    .last{
      display: none;
    }
    .edit{

    }
    .right-game{
      margin-top: 140px!important;
      padding-top:2em;
      padding-left: 0px;
      position: relative;
      top:-160px;
      right: 3px;
      left:3px;
    }
   
    .middle{
      left:5px;
    }
    .last{
      padding-top:2em;
      padding-left: 5px;
      position: relative;
      top:20px;
      right: 3px;
      left:50px;
    }

     
   }