
html,body{ 
	width:100%;
	height:100%;
	/*background:#b61924;*/
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font-family: 'Fira Sans', sans-serif;
  /*font:normal 75% Arial, Helvetica, sans-serif;*/
}
hr{
 /* background: #b61924;*/
}

canvas{
  display:block;
  vertical-align:bottom;
}
.sidebar{
  background:#ffff;
  opacity:0.8;
  padding:0em;
  position: absolute;
  top:50px;
  left:0px;
}

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #292b2c;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #0275d8;
  display: inline-block;
}
.center-form{
  margin-left: 100px!important;
}
.progress {
  margin: 2px;
  width: 750px;
}
#badge{
  margin-bottom: 10pxpx;
  
}
.replay{
  background-color: #d48f56!important;
}
#badge>img{
  width:135px;
  height: 135px;
}

  h{
    color:#b61924; ;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
  }
  

  .game{
    margin-top: 0px!important;
    width: 600px;
    height: 100px;
  }
 td>.b_game{
    font-size: 30px;
    border-radius: 7px;
    text-align: center;
    font-weight: bold;
    padding: 0px;
    margin: 4px;
    height: 45px;
    width:45px;
    line-height: 45px;
    
  }
  /*.b_game:focus{
    color:white;
    background-color: #0275d8;
    outline: none;
  }*/
 
  .txt{
    color:black;
    padding: 4px;
    margin: 10px 20px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
  }
  .btext{
    text-align: center!important;
    font-weight: bold!important;
    font-size: 25px!important;
    text-align:center;
    font-weight:40px;
    background:#0275d8;
    color:white!important;
    width:55px; 
    margin-top:-2px;
    height:45px;
    line-height: 45px; 
    border-radius: 7px;
  }
  .card{
    height: 38rem!important;
  }
  
#submit-btn {
  color: #fff !important;
  text-transform: uppercase;
  background: #0275d8;
  padding: 13px;
  border: 2px solid #292b2c;
  border-radius: 7px;
  display: inline-block;
  max-width: 550px;
  transition: all 0.3s ease 0s;
  margin-left:14rem;
}
#submit-btn:hover {
  color: #fff !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: #292b2c;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
  }
 
  @media screen and (min-width : 768px) and (max-width : 1024px) {
    
    #clockdiv{
      margin-left: -40px!important;
    }
    .time{
      margin-left: 2rem!important;
    }
}

@media screen and (min-width : 320px) and (max-width : 480px) {

.sidebar{
  display: none;
}
.bar{
  display:none;
}

     
   }