
html,body{ 
	width:100%;
	height:100%;
	/*background:#b61924;*/
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font-family: 'Fira Sans', sans-serif;
  /*font:normal 75% Arial, Helvetica, sans-serif;*/
}
hr{
 /* background: #b61924;*/
}

canvas{
  display:block;
  vertical-align:bottom;
}
.sidebar{
  background:#ffff;
  opacity:0.8;
  padding:2em;
  position: absolute;
  top:70px;
  left:10px;
}
.right{
  padding-left: -13px!important;
  position: absolute;
  top:55px;
  right: 3px!important;
  left:420px!important;
}
.right-game{
  
  padding-top:2em;
  padding-left: 0px;
  position: absolute;
  top:40px;
  right: 3px;
  left:430px;
}
.middle{
  left:35px;
}
.last{
  padding-top:2em;
  padding-left: 10px;
  position: absolute;
  top:90px;
  right: 3px;
  left:520px;
}
.center{
  padding-top:2em;
  padding-left: 10px;
  position: absolute;
  top:34px;
  right: 3px;
  left:400px;
}
.instruction{
  margin-right:13rem!important;
  
}
.instruction >h2{
  margin-left:16rem!important;
}
/* ---- particles.js container #b61924;---- 3e64ff*/

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/*
 a:link{
   text-decoration: none;
   color:red;
   
 
}
a:hover {
   font-size: 1.4em!important;
}
*/
#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #292b2c;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #0275d8;
  display: inline-block;
}
.center-form{
  margin-left: 100px!important;
}
.progress {
  margin: 2px;
  width: 750px;
}
#badge{
  margin-bottom: 10pxpx;
  
}
.replay{
  background-color: #d48f56!important;
}
#badge>img{
  width:135px;
  height: 135px;
}

  h{
    color:#b61924; ;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
  }
  

  .game{
    margin-top: 0px!important;
    width: 600px;
    height: 100px;
  }
 td>.b_game{
    font-size: 30px;
    border-radius: 7px;
    text-align: center;
    font-weight: bold;
    padding: 0px;
    margin: 4px;
    height: 45px;
    width:45px;
    line-height: 45px;
    
  }
  /*.b_game:focus{
    color:white;
    background-color: #0275d8;
    outline: none;
  }*/
 
  .txt{
    color:black;
    padding: 4px;
    margin: 10px 20px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
  }
  .btext{
    text-align: center!important;
    font-weight: bold!important;
    font-size: 25px!important;
    text-align:center;
    font-weight:40px;
    background-color:#0275d8;
    color:white;width:55px; 
    margin-top:-2px;height:45px;
    line-height: 455px; 
    border-radius: 7px;
  }
  .card{
    height: 38rem!important;
  }
  /*
  #vertical{
    border-left: 1px solid whitesmoke;
    height: 0px;
    
  }*/
 
  @media screen and (min-width : 768px) and (max-width : 1024px) {
    
    #clockdiv{
      margin-left: -40px!important;
    }
    .time{
      margin-left: 2rem!important;
    }
}

@media screen and (min-width : 320px) and (max-width : 480px) {

.sidebar{
  display: none;
}

     
   }